## 입력 함수 input

- input 함수는 입력받은 값을 변수에 문자열(따옴표 붙여짐)로 저장해줌
→ input 함수는 화면에서 무언가를 입력받게 해줌

In [1]:
name = input()

Jasmin

In [4]:
name = input("What is your name?")

What is your name?Jasmin

In [6]:
name #print(name)으로 써도됨! input함수의 경우 주피터 노트북에서 print사용하지 않아도 변수명만 입력해서 변수에 저장된 값 불러내기
#가능

Jasmin

In [8]:
name1 = 'Jasmin1'
name2 = 'Jasmin2'
print (name1)
print (name2)
#단, 변수가 여러개일 경우 모든 변수명 앞에 print붙여줘야 모든 변수에 저장된 값을 불러올 수 있음!!

Jasmin1
Jasmin2

In [9]:
name = input("What is your name?")
print ("Hi:)", name)

What is your name?Jasmin
Hi:) Jasmin

In [10]:
digit = input()

1

digit에 입력된 숫자 1 -> input 함수는 입력된 값을 문자열로 변환시키기에 Out에서의문자 그 자체로서의 '1'이 됨

In [11]:
digit

'1'

digit1 = input()
digit2 = input()

print (digit1 * digit2)

▲이렇게는 할 수 없음. why? input함수는 데이터값을 문자열로만 변환시키기 때문에, 애초에 문자열*문자열(문자열끼리의 곱)이 불가능

#####  ▼변수 Type; 정수 - int / 부동소숫점 - float / 문자열 - str / Boolean - bool▼

In [16]:
float(3) #정수 3을 부동소숫점이 있는 수로 바꾸기

3.0

In [17]:
int(3.6) #부동소숫점을 정수로 바꾸기

3

In [18]:
str(1) #정수를 문자열로 바꾸기

'1'

In [21]:
digit_str = "123" #문자열 '123'
digit_int = int(digit_str) #문자열 '123'을 정수로 바꿔주는 작업
print (digit_int)
print (type(digit_int)) # <class 'int'>의 의미: digit_int의 변수타입(type)이 정수임을 의미

123
<class 'int'>

In [22]:
int(input("How old are you?")) #input()의 결과는 문자열. 이 문자열을 int()에 넣어주면 그 문자열이 정수(숫자)로 바뀜

How old are you?21

21

In [23]:
digit1 = int( input() )
digit2 = int( input() )
print(digit1 * digit2)

10
20
200