## 변수와 변수의 활용

In [27]:
digit1 = 1
name = "Soobin"
age = 21
grade = 2
university = "Kyunghee University"
major = "Economics"

print (digit1, name, age, grade, university, major)
print (digit1 + age)

1 Soobin 21 2 Kyunghee University Economics
22

In [ ]:
num = False

In [32]:
print (3 < 7)
print (10 < 3)
print (3 >= 3)
print (3 <= 10)
print (34 == 100)
print (34 != 100)

True
False
True
True
False
True

- 프로그래밍에서 '='은 오른쪽 데이터를 왼쪽 변수에 넣어주기 위해 쓰는 것임!
- 두 값/데이터가 갖냐고 물으려면 '=='를 사용할 것
- 두 값/데이터가 다르냐고 물으려면 '=!'('='이거 먼저!)를 사용할 것

- 변수 이름: 이름 맨앞에는 숫자 사용 불가, 특수문자 사용no, 언더바는 사용 가능, 영어문자로 시작!
* 변수 이름에 두 단어 이상을 연속으로 사용할 경우 각 단어 사이에 언더바 넣는 것을 권장

In [2]:
radius = 10
print ("지름은?", radius * 2)
pi = 3.14 #파이썬의 경우 변수 값을 중간에 지정해줘도 됨(그러나 맨 위에 쓰는 것이 일반적)
print ("둘레는?", pi * 2 * radius )
print ("넓이는?", pi * (radius ** 2))

지름은? 20
둘레는? 62.800000000000004
넓이는? 314.0

In [38]:
name = "SOO BIN CHO"
birth = 20011102
age = 21
gender = 'female'
grade = "Sophomore"
Univ = "Kyunghee Univ."
major = "Economoics"
height = 166
weight = 50
marriage = False
glasses = False

print (Univ, major, grade, age)
print (height, weight)

Kyunghee Univ. Economoics Sophomore 21
166 50