데이터 구조의 종류: 리스트, 튜플, 딕셔너리, 집합

### 데이터 구조 - tuple

* 선언 + 입력 : 변수명 = (1, 2, 3, 4) #리스트는 대괄호[ ]였음!
* 읽기: 변수명[인덱스번호]
* 추가&삭제: 튜플은 중도 추가/삭제 불가 ex. append.()함수, .remove()함수 등등 사용 불가!
* 수정: 중도 수정 불가

data()

* 본래 함수의 결과값(return)은 오로지 하나여야 함.But, 파이썬의 경우 튜플을 이용하여 2개 이상의 결과값을 한번에 도출해낼 수 있음.
→ 사실 튜플로 나타난 결과값도 하나임. 여러개 도출해 낼 수 있는 이유는 결과값 데이터를 튜플 변수로써 다루기 때문임!

In [7]:
data = (1, 2, 3)

In [8]:
data[1]

2

In [5]:
type(data)

tuple

In [6]:
data

(1, 2, 3)

In [10]:
data1 = (1, 2, 3)
data2 = (4, 5, 6)

In [11]:
data1 + data2

(1, 2, 3, 4, 5, 6)

In [13]:
data1*3 #이건 그저 참고용!
# 튜플과 튜플끼리의 덧셈은 가능하나, 곱셈은 불가함(뺄셈도 불가)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

------

In [16]:
x = 1
y = 2
# 변수끼리 대입값 바꾸기(=수합)

In [17]:
temp = x #임시변수에 x값 먼저 보관하기
x = y #x에 y넣기
y = temp #변수 temp에 보관되었던 x값 y에 넣기 ▼(결과)▼

In [18]:
x

2

In [19]:
y

1

↓ 튜플을 이용하는 방법 ↓

In [20]:
x, y = y, x #프로그램이 좌변과 우변을 튜플로 인식함 # swapping

In [21]:
x

1

In [22]:
y

2

--------

In [24]:
def quot_and_rem(x,y):
    quot = x // y #몫
    rem = x % y #나머지
    return(quot, rem) #괄호 안써도 됨 → 'return quot, rem'

(quot, rem) = quot_and_rem(3,10)

In [25]:
quot

0

In [26]:
rem

3

--------

In [3]:
data1 = (1, 2, 3)

In [4]:
type(data1)

tuple

In [5]:
data1_list = list(data1)

In [6]:
print(data1_list)
type(data1_list) #튜플은 리스트로, 리스트는 튜플로 바꿀 수 있음. 튜플을 리스트로 바꾸면 데이터 수정, 삭제, 추가가 가능해짐!

[1, 2, 3]

list

In [37]:
data1_tuple = tuple(data1_list)

In [38]:
type(data1_tuple)

tuple

### 데이터 구조 - 딕셔너리dictionary

* 선언 + 입력 : 변수명 = {키:값, 키:값 ...} 또는 dict(), 초기값과 함께 선언
* 읽기: 변수명[키]
* 추가: 변수명[키] = 값
* 삭제: del 변수명[삭제할 키]
* 수정: 변수명[수정할 키] = 수정할 값

In [34]:
data_list = list() # data_list = [...] 
data_tuple = tuple() # data_tuple = (...)
data_dict = dict() # data_dict = {...}
data_set = set() # {} ← dictionary와 겹치므로, 집합은 주로 'set()'를 사용함

# ex) 빈 list(/tuple/dictionary/set)만들기 → data = list()

In [26]:
data_dict = {'Apple':'A', 'Banana':'B', 'Cherry':'C'}

In [27]:
data_dict['Apple']

'A'

In [28]:
data_dict['Dragon fruit'] = 'D'

In [29]:
data_dict

{'Apple': 'A', 'Banana': 'B', 'Cherry': 'C', 'Dragon fruit': 'D'}

In [30]:
del data_dict['Banana']

In [31]:
data_dict

{'Apple': 'A', 'Cherry': 'C', 'Dragon fruit': 'D'}

In [33]:
data_dict['Dragon fruit'] = 'DF'

In [34]:
data_dict

{'Apple': 'A', 'Cherry': 'C', 'Dragon fruit': 'DF'}

--------

key만 출력하는 법 / value만 출력하는 법

In [36]:
data_dict.keys()#key(키)만 리스트로 추출함

dict_keys(['Apple', 'Cherry', 'Dragon fruit'])

In [38]:
for key in data_dict.keys():
    print (key)

Apple
Cherry
Dragon fruit

In [42]:
data_dict.values()#value(값)만 리스트로 추출함

dict_values(['A', 'C', 'DF'])

In [43]:
for value in data_dict.values():
    print (value)

A
C
DF

In [44]:
data_dict.items()

dict_items([('Apple', 'A'), ('Cherry', 'C'), ('Dragon fruit', 'DF')])

In [46]:
for item in data_dict.items(): #.itmes()는 키와 값 한꺼번에 출력!
    print (item)

('Apple', 'A')
('Cherry', 'C')
('Dragon fruit', 'DF')

In [47]:
for key in data_dict.keys():
    print (data_dict[key])

A
C
DF

### 데이터 구조 - 집합 set

* 선언 + 입력 
: 변수명 = set()(←빈 집합 만들기) 또는 변수명 = {데이터1, 데이터2, ...} 또는 변수명 = set(데이터1) 또는 변수명 = set{(데이터1, 데이터2,...)}
* 읽기: 집합은 인덱스번호를 지원하지X
* 추가: 변수명.add(데이터1) → 데이터 1개 추가할 경우 / 변수명.update([데이터1, 데이터2, ...]) → 여러 개의 데이터를 추가할 경우
* 삭제: 특정 데이터를 삭제할 경우 - 변수명.remove(특정 데이터)
* 수정:

In [10]:
data_set = {'apple', 'dell', 'samsung', 'lg'} # ← dictionary는 '키:값'을 같이 입력해야 함.

In [4]:
type(data_set)

set

In [6]:
data_set = set('apple') #데이터 요소(=원소)가 하나만 있을 땐 'set()'함수를 직접적으로 이용해도 되지만, 데이터 요소가 2개 이상일 때에는 불가함

In [7]:
# set()함수를 이용하여 두 개 이상의 데이터 요소를 표기하고 싶을 때 ↓

data_set = ({'apple', 'dell'})

In [8]:
data_set

{'apple', 'dell'}

In [31]:
# set 데이터 구조는 인덱스번호를 지원하지 않음

In [12]:
data_set = {'apple', 'dell', 'samsung', 'lg'}

In [13]:
'motorola' in data_set # 'motorola'라는 데이터요소가 data_set라는 집합에 들어있는지 bulean형태로 확인해줌

False

In [14]:
if 'apple' in data_set:
    print(data_set)

{'apple', 'dell', 'samsung', 'lg'}

In [16]:
data1 = {'apple','samsung', 'lg'} #스마트폰 생산 업체
data2 = {'samsung','lg','xiaomi'} #TV 생산 업체

In [17]:
data1 & data2 # '&'은 교집합을 의미함

{'lg', 'samsung'}

In [19]:
data1 | data2 # '|'는 합집합을 의미함

{'apple', 'lg', 'samsung', 'xiaomi'}

In [20]:
data1 - data2 #'-'는 차집합을 의미함

{'apple'}

In [36]:
data1 ^ data2 # '^'는 합집합에서 교집합을 뺀 것을 의미함

{'apple', 'xiaomi'}

In [22]:
#집합set는 순서가 없음! 중복도 없음!

In [24]:
data_list = ['apple', 'dell', 'samsung', 'lg','apple', 'dell', 'samsung', 'lg','apple', 'dell', 'samsung', 'lg'] # 중복된 데이터

In [28]:
#중복된 데이터 없애기 위해 집합set를 이용함
data = set(data_list)
data

{'apple', 'dell', 'lg', 'samsung'}

In [30]:
# 리스트를 집합으로 바꾸었던 것을 다시 리스트로 바꾸면..
list(data)

['apple', 'dell', 'samsung', 'lg']